# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: FreeST
favicon_ico: "/resources/FreeST.png"
logo-img: "/resources/FreeST.png"
# email: 
# description: >- # this means to ignore newlines until "baseurl:"
#   Write an awesome description for your new site here. You can edit this
#   line in _config.yml. It will appear in your document head meta (for
#   Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://freest-lang.github.io" # leaving the default link
# twitter_username: 
# github_username: 

permalink: pretty

# Build settings
remote_theme: pmarsceill/just-the-docs

# Adds a new sidenav option to an external link
# -> https://just-the-docs.github.io/just-the-docs/docs/navigation-structure/#external-navigation-links
nav_external_links:
  - title: Try it online!
    url: http://rss.di.fc.ul.pt/tryit/FreeST
    hide_icon: false # set to true to hide the external link icon - defaults to false

# Back to top link
back_to_top: true
back_to_top_text: "Back to top"

footer_content: ""


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# plugins:
  # - jekyll-feed
  # - jekyll-seo-tag

markdown: kramdown
# kramdown:
#   syntax_highlighter_opts:
#     block:
#       line_numbers: false