---
layout: default
---

<!DOCTYPE html>

<html lang="en">
<head>
    <style>
        /* Create two equal columns that floats next to each other */
        .sidebar {
        float: left;
        width: 25%;
        height: 100%;
        }

        .content {
        float: left;
        width: 75%;
        height: 100%;
        /* padding: 10px; */
        }
    
        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
    </style>
</head>



<body>
    <div class="row">
        <div id="secondary" class="sidebar">
            <h3>Index:</h3>
            {% capture my_include %}{% include links.md %}{% endcapture %}
            {{ my_include | markdownify }}
            <!-- {% for page_name in site.index %}
                {% unless site.excluded-index contains page.title %} 
                <a href="{{ page.url }}" style="width: 100%; display: block;">{{ page.title }}</a>
                {% endunless %}
            {% endfor %} -->
        </div>
        
        <div id="primary" class="content">
            {{ content }}
        </div>
    </div>
</body>
</html>